.ratings {
    padding: 0 5%;
}

.ratings__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

.ratings__grid1 > h1, 
.ratings__grid2 > h1 {
    font-size: 3.25em;
}

.ratings__grid1 > h5, 
.ratings__grid2 > h5 {
    font-size: 1em;
}

.trusted__by {
    grid-column: 1 / span 2;
}

.trusted__by > h2 {
    color: #0072c6;
}

.trusted__by > h3 {
    color: #a56f3f;
}

.trusted__by > p {
    color: #333;
}

@media (min-width: 1000px) {
  .ratings__container {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    justify-content: center;
    justify-items: center;
    text-align: center;
  }

  .trusted__by {
    grid-column: 3 / 3;
  }
}

@media (min-width: 1250px) {
    .trusted__by > h2 {
        font-size: 2em;
    }

    .trusted__by > h3 {
        font-size: 1.15em;
        font-weight: normal;
    }

    .trusted__by > p {
        font-size: 1.05em;
    }

    .ratings__container > .trusted__by {
        display: flex;
        flex-direction: column;
    }
    
    .ratings__container > .trusted__by > h2 {
        margin: 6.5% 0 0 0;
    }
}

@media (min-width: 1450px) {
    .trusted__by > h2 {
        font-size: 2.25em;
    }

    .trusted__by > h3 {
        font-size: 1.25em;
    }

    .trusted__by > p {
        font-size: 1.15em;
        margin: 1% 0 0 0;
    }

    .ratings__container > .trusted__by > h2 {
        margin: 5.5% 0 0 0;
    }
}

@media (min-width: 1620px) {
    .trusted__by > h2 {
        font-size: 2.5em;
    }

    .trusted__by > h3 {
        font-size: 1.35em;
    }

    .trusted__by > p {
        margin: 1% 0 0 0;
    }

    .ratings__container > .trusted__by > h2 {
        margin: 4.5% 0 0 0;
    }
}

@media (min-width: 1800px) {
    .trusted__by > h2 {
        font-size: 2.75em;
        font-weight: 600;
    }

    .trusted__by > h3 {
        font-size: 1.35em;
    }

    .trusted__by > p {
        font-size: 1.25em;
        margin: 1% 0 0 0;
    }

    .ratings__container > .trusted__by > h2 {
        margin: 3.5% 0 0 0;
    }
}