.dashboard {
    background-color: #b7d6e9;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboard__container {
    display: grid;
    width: 90%;
    height: 75%;
    min-height: 68.62vh;
    background-color: #f7f7f7;
    border: 2px solid #a56f3f;
    border-radius: 8px;
    margin: 5% auto;
    grid-template-columns: 10% 90%; 
}



.overview__Grid {
    margin-left: 12.5%;
}

.overview__Grid1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr 2fr);
}

.overview__Grid2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr 1fr 1fr);
}

.overview__Grid1 > .grid__Item2 > div {
    padding-left: 5%;
}

.overview__Grid2 > .grid__Item5 > h4 {
    grid-column: 1 / -1;
}

.overview__Grid1 > .grid__Item2 > h4,
.overview__Grid2 > .grid__Item3 > h4,
.overview__Grid2 > .grid__Item4 > h4,
.overview__Grid2 > .grid__Item5 > h4 {
    color: #0072c6;
}
  