.benefits {
    padding: 0 5%;
}

.hr__text {
    display: flex;
    align-items: center;
    text-align: center;
}

.hr__text::before,
.hr__text::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #000;
}

.hr__text:not(:empty)::before {
    margin-right: .25em;
}

.hr__text:not(:empty)::after {
    margin-left: .25em;
}

/* ABOVE IS THE HORIZONTAL RULE & TEXT  */

