.navbar {
    background-color: #005ca9;
}

.navbar__Container {
    padding: 1% 5% 2.5% 5%;
}

.logo__Menu__Container {
    display: grid;
    grid-template-columns: repeat(1, 1fr 2fr);
    align-items: center;
}

.logo__Menu__Container > h1 {
    justify-content: flex-start;
}

.mobileIcons {
    justify-content: flex-end !important;
}

.navlinks {
    letter-spacing: .1em;
}

.navlinks > a {
    color: #f7f7f7;
    text-decoration: none;
    margin-left: 1.5%;
}

.navbar__Container > input {
    width: 98%;
    height: 2.5em;
    font-size: 1em;
    text-indent: 2.5%;
}

.navbar__Container > input:focus {
    text-indent: 2.5%;
}

@media (min-width: 900px) {
    .mobileIcons {
        display: none !important;
    }
    .navbar__Container > input {
        width: 100%;
    }
    .navlinks {
        display: flex;
        /* justify-content: space-evenly; */
        /* padding-left: 25%; */
        justify-content: flex-end;
    }
    .navlinks > div {
        padding-left: 5%;
    }
}