.navbar {
    background-color: aqua;
}

.navbar__Container {
    padding: 5%;
}

.logo__Menu__Container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar__Container > input {
    width: 100%;
    height: 2.5em;
    font-size: 1em;
    text-indent: 2.5%;
}

.navbar__Container > input:focus {
    text-indent: 2.5%;
}

.navbar__Container > input::placeholder {
    text-indent: 2.5%;
}